<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="{{url_for('static', filename='htmx.min.js')}}"></script>

	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>

	<script>
        var sliderMaxChargeTimer;
        var sliderAmpereTimer;
		$(document).ready(function()
		{
		  $('#slider_max_charge').change(function()
		  {
              if (sliderMaxChargeTimer)
              {
                clearTimeout(sliderMaxChargeTimer)
              }
              value = this.value;
              sliderMaxChargeTimer = setTimeout(function() {$.post( "/setmaxcharge", "max_charge=" +value)}, 1000);
		  });
          $('#slider_ampere').change(function()
          {
              if (sliderAmpereTimer)
              {
                clearTimeout(sliderAmpereTimer)
              }
              value = this.value;
              sliderAmpereTimer = setTimeout(function() {$.post( "/setampere", "ampere=" +value)}, 1000);
          });


		});
	</script>
<body>
<div data-role="page">

	<div data-role="header">
		<h1>Photovoltaik Aufladen Ganslmeier</h1>
	</div><!-- /header -->

	<div data-role="content">
        <div hx-get="/displaystatus" hx-trigger="every 5s"></div>
        <a hx-target="#target" hx-get="/buttonstopcharge" href="#" data-role="button" data-icon="delete">Laden beenden</a>
        <a hx-target="#target" hx-get="/buttonstartcharge" href="#" data-role="button" data-icon="check">Laden starten</a>

        <label for="slider_max_charge">Höchster Ladestand:</label>
        <input type="range" name="slider" id="slider_max_charge" value="{{max_charge}}" min="0" max="100"  />

        <label for="slider_ampere">Minimum Ampere (1-16):</label>
        <input type="range" name="slider" id="slider_ampere" value="{{minimum_ampere}}" min="1" max="16"  />

        <div hx-get="/displaylog" hx-trigger="every 1s"></div>

	</div><!-- /content -->

</div>
<h1>
    This is home.html
</h1>

<form method="post">
  Nametest: <input name="name"/>
  <br/><br/>
  Email: <input name="email"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>
<ul>
{% for item in data %}
    <li>{{item.name}}</li>
    <li>{{item.place}}</li>
    <li>{{item.mob}}</li>
{% endfor %}
</ul>
<div id="target"></div>
<button class='btn' hx-get="/buttonstopcharge" style="width:100%;height:10%" hx-target="#target">
    Laden Beenden
</button>
<button class='btn' hx-get="/buttonstartcharge" style="width:100%;height:10%" hx-target="#target">
    Laden Starten
</button>
<br/>


</body>
</html>